.theHangedMan {
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: auto;
  user-select: none;
}

.game {
  grid-column: 1/4;
  text-align: center;
}

.labelRangeSlider {
  font-size:2em;
  white-space: pre-wrap;
}

.menu {
  border-left:  solid black;
  grid-column: 4;
  text-align: left;
}

.option {
  font-size: 1.5em;
}

.title {
  text-align: center;
}
  