.countLettersFound {
    font-size: 2em;
}

.secretWord {
    font-size: 5em;
    letter-spacing: 0.2em;
    margin-left: auto;
    
}

.secretWordContainer {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}